<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"><meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"><meta name=referrer content=no-referrer><meta name=keywords content="django drf vue nginx blog "><meta name=author content=zhp,602013597@qq.com><meta name=description content="zhaoheping blog"><link rel="shortcut icon" href=static/favicon.ico type=image/vnd.microsoft.icon><title></title><link href=/static/css/app.37318ffc9d9cd38ed4c478a032ad5531.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=/static/js/manifest.a2d36f15b5e889fe7675.js></script><script type=text/javascript src=/static/js/vendor.fac872af77c6813bbc8b.js></script><script type=text/javascript src=/static/js/app.5aa7887f941d579d83b1.js></script></body></html>
=======
<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><meta name=referrer content=no-referrer><meta name=keywords content="django drf vue nginx blog "><meta name=author content=zhp,602013597@qq.com><meta name=description content="zhaoheping blog"><link rel="shortcut icon" href=static/favicon.ico type=image/vnd.microsoft.icon><title></title><style media=screen type=text/css>#appLoading {
      width: 100%;
      height: 100%;
    }

    #appLoading span {
      position: absolute;
      display: block;
      font-size: 50px;
      line-height: 50px;
      top: 50%;
      left: 50%;
      width: 200px;
      height: 100px;
      -webkit-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);
    }</style><link href=/static/css/app.5281001869af3e984f09bb2e25ced53c.css rel=stylesheet></head><body><div id=appLoading><span>Loading...</span></div><div id=app style="display: none"></div><script type=text/javascript src=/static/js/manifest.6a027933db4bce6d4a76.js></script><script type=text/javascript src=/static/js/vendor.fac872af77c6813bbc8b.js></script><script type=text/javascript src=/static/js/app.a5c11663e99ea70dc5fa.js></script></body></html>
